$main-color: #ffffff;
$secondary-color: rgb(255, 219, 15);
$page-width: 1200px;
$second-break-point: 1000px;
$third-break-point: 750px;
$typewriter-font: 'Roboto Slab', serif;
$body-font: 'Montserrat', sans-serif;
$alternative-bg: #F6F7FD;
$semi-transparent: rgba(0, 0, 0, 0.575);
$transparent:  rgba(0, 0, 0, 0);
$main-font-color: #000;
$secondary-color-shadow: rgba(255, 219, 15, 0.75);

